@import "../Base/base.scss";
@import "../Themes/variable";

#header {
  padding: 15px;
  background-color: $c1-background-primary;
  .container {
    display: flex;
    justify-content: space-between;
    .logo {
      img {
        width: 100%;
      }
    }
    .form-header {
      display: flex;
      align-items: center;
      .cart {
        color: $c4-text-ligth;
        margin: 0 5px;
        cursor: pointer;
      }
      .Login {
        color: $c3-text-ligth;
        margin: 0 5px;
        cursor: pointer;
        text-decoration: none;
      }
      .Register {
        color: $c3-text-ligth;
        margin: 0 5px;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

#menu {
  .container {
    display: flex;
    align-items: center;
    height: 50px;
    a {
      text-decoration: none;
    }
    .home {
      position: relative;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0px;
      @include text($text-xl, $text-regular, $c5-text-dark);
      &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $c5-text-dark;
      }
    }
    .men {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0px;
      @include text($text-xl, $text-regular, $c5-text-dark);
    }
    .woman {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0px;
      @include text($text-xl, $text-regular, $c5-text-dark);
    }
    .kid {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0px;
      @include text($text-xl, $text-regular, $c5-text-dark);
    }
    .sport {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0px;
      @include text($text-xl, $text-regular, $c5-text-dark);
    }
  }
}

.carousel {
  background-image: url("../../img/image\ 6.png");
  background-size: cover;
  background-position: bottom;
  position: relative;
  height: 500px;
  .carousel-inner {
    position: relative;
    .carousel-item {
      position: relative;
      height: 100%;
      a {
        display: inline-block;
        img {
          width: 100%;
          padding-left: 100px;
        }
      }
      .item-info {
        display: inline-block;
        width: 400px;
        height: 400px;
        position: absolute;
        top: 160px;
        right: 185px;
        h2 {
          @include text($text-4xl, $text-ligth, $c2-text-dark);
        }
        p {
          @include text($text-xl, $text-ligth, $c2-text-dark);
        }
      }
    }
  }
  .carousel-control-prev {
    i {
      color: black;
      font-size: 55px;
    }
  }
  .carousel-control-next {
    i {
      color: black;
      font-size: 55px;
    }
  }
}

#Feature {
  .container {
    h2 {
      @include text($text-4xl, $text-regular, $c5-text-dark);
    }
    .row {
      .col-4 {
        padding: 30px;
        .card {
          border: none;
          border-radius: none;
          background-color: #f8f8f8;
          .card-body {
            h5 {
            }
            p {
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }
          }
        }
      }
    }
  }
}

footer {
  .footer-top {
    .container {
      text-align: center;
      .row {
        .col-4 {
          padding: 0;
          .infor-footer {
            text-align: left;
            h4 {
              text-transform: uppercase;
              @include text($text-md, $text-bold, $c5-text-dark);
            }
            p {
              text-align: left;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .footer-bottom {
    margin-top: 50px;
    background-color: #f8f8f8;
    padding: 40px 0;
    .container {
      .row {
        .col-4 {
          padding: 0;
          h4 {
            text-align: left;
            text-transform: uppercase;
            @include text($text-md, $text-bold, $c5-text-dark);
          }
          p {
            text-align: left;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

//=================== Register ===============//

#register {
  h1 {
  }
  .container {
    form {
      .col-6 {
        div {
          border-bottom: 3px solid #ae18e2;
          height: 50px;
          label {
            @include text($text-3xl, $text-regular, $c5-text-dark);
          }
          input {
            outline: none;
            font-size: $text-xl;
          }
        }
      }
      .col-6 {
       .Gender {
        border-bottom: 0;
        margin-top: 25px;
       }
        input[type="radio"]:checked:after {
          width: 25px;
          height: 25px;
          border-radius: 15px;
          top: 2px;
          left: 2px;
          position: relative;
          background-color: #ae18e2;
          content: "";
          display: inline-block;
          visibility: visible;
          border: 2px solid white;
        }
        button {
          background-color: #ae18e2;
          padding: 10px 50px;
          @include text($text-3xl, $text-regular, $c5-text-dark);

        }
      }
    }
  }
}
